.mainboxkit {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: rgba(111, 154, 160, 0.97);
  color: black;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.secondboxkit {
  border-bottom-left-radius: 20px;
}

.carousel * {
  box-sizing: border-box;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.boxkit-first {
  /*-webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);*/
  /* border-radius: 20px;*/
  color: black;
  margin-top: 20vh;
  margin-bottom: 10vh;
  /* border: 0.2em solid rgb(46, 45, 45); */

  background-color: rgba(255, 255, 255, 0.95);
}

.boxkit-mid {
  /*-webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);*/
  /*border-radius: 20px; */
  color: black;
  margin-top: 10vh;
  margin-bottom: 10vh;
  /*border: 0.2em solid rgb(46, 45, 45);*/

  background-color: rgba(255, 255, 255, 0.95);
}

.boxkit-mid-leistungen {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  /*border-radius: 20px; */
  color: black;
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-height: 100vh;
  /*border: 0.2em solid rgb(46, 45, 45);*/

  background-color: rgba(255, 255, 255, 0.95);
}

.boxkit-mid-projekte {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  /*border-radius: 20px;*/
  background-color: rgb(128, 128, 128, 0.95);
  color: black;
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-height: 80vh;
  /*border: 0.2em solid rgb(46, 45, 45);*/

  background-color: rgba(255, 255, 255, 0.95);
}

.boxkit-last {
  /*-webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);*/
  /*border-radius: 20px;*/
  color: black;
  margin-top: 10vh;
  margin-bottom: 15vh;
  /*border: 0.2em solid rgb(46, 45, 45);*/

  background-color: rgba(255, 255, 255, 0.95);
}

.boxkit-Impressum {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  /*border-radius: 20px;*/
  color: black;
  margin-top: 20vh;
  margin-bottom: 50vh;
  /*border: 0.2em solid rgb(46, 45, 45);*/

  background-color: rgba(255, 255, 255, 0.95);
}

.boxkit-datenschutz {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  /*border-radius: 20px;*/
  color: black;
  margin-top: 20vh;
  margin-bottom: 15vh;
  /*border: 0.2em solid rgb(46, 45, 45);*/

  background-color: rgba(255, 255, 255, 0.95);
}

.turnLogo {
  animation: turner 4s infinite linear;
}

.margintop {
  margin-top: 0.2em;
}

@keyframes turner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
