.mainboxkit {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: rgba(111, 154, 160, 0.97);
  color: black;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.secondboxkit {
  border-bottom-left-radius: 20px;
}

.carousel * {
  box-sizing: border-box;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.boxkit-first {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  color: black;
  margin-top: 20vh;
  margin-bottom: 10vh;
  border: 0.2em solid rgb(46, 45, 45);

  background-color: rgba(89, 116, 119, 0.97);
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%239C92AC' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.boxkit-mid-leistungen {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  color: black;
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-height: 100vh;
  border: 0.2em solid rgb(46, 45, 45);

  background-color: rgba(89, 116, 119, 0.97);
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%239C92AC' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.boxkit-mid-projekte {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: rgb(128, 128, 128, 0.95);
  color: black;
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-height: 80vh;
  border: 0.2em solid rgb(46, 45, 45);

  background-color: rgba(89, 116, 119, 0.97);
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%239C92AC' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.boxkit-last {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  color: black;
  margin-top: 10vh;
  margin-bottom: 15vh;
  border: 0.2em solid rgb(46, 45, 45);

  background-color: rgba(89, 116, 119, 0.97);
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%239C92AC' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.boxkit-Impressum {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  color: black;
  margin-top: 20vh;
  margin-bottom: 50vh;
  border: 0.2em solid rgb(46, 45, 45);

  background-color: rgba(89, 116, 119, 0.97);
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%239C92AC' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.boxkit-datenschutz {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  color: black;
  margin-top: 20vh;
  margin-bottom: 15vh;
  border: 0.2em solid rgb(46, 45, 45);

  background-color: rgba(89, 116, 119, 0.97);
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%239C92AC' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.turnLogo {
  animation: turner 4s infinite linear;
}

@keyframes turner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
