.cursor-pointer {
  cursor: pointer;
}

.nav-item {
  border-bottom: 1px solid white;
}

.nav {
  border-bottom: 1px solid white;
}

.cursor-pointer-lightblue:hover {
  cursor: pointer;
  color: rgb(0, 2, 105);
}

.cursor-pointer-invert:hover {
  cursor: pointer;
  color: rgb(0, 2, 105);
}

.navbar-icon:hover {
  cursor: pointer;
  color: rgb(0, 2, 105);
}
