.header {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  z-index: 50;
  border-bottom: 0.02em solid rgb(0, 0, 0);
  width: 104%;
  /* height: 12vh; */
  height: 9em;
}

@media only screen and (max-width: 600px) {
  .header {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 50;
    border-bottom: 0.02em solid rgb(0, 0, 0);
    width: 104%;

    height: 4.5em;
  }
}

.header0 {
  background-color: rgba(255, 255, 255, 1);
  /* position: relative; */
  z-index: 4;

  width: 104%;
}

.header1 {
  background-color: rgba(255, 255, 255, 1);
  /* position: relative; */
  z-index: 3;

  width: 104%;

  border-bottom: 0.01em solid rgb(0, 0, 0);
}

.nooverflowx {
  overflow-x: hidden;
}

.headerb {
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  z-index: 2;
  width: 104%;

  border-bottom: 0.01em solid rgb(0, 0, 0);
}

.headerbottomborder {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 1;
  width: 104%;
  border-bottom: 0.01em solid rgb(0, 0, 0);
}

.footer {
  background-color: rgba(255, 255, 255, 0.95);
  position: relative;
  bottom: 50;
  z-index: 3;
  width: 100%;
}

.fixedposition {
  position: fixed;
}
