.imagePosition {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: "center";
  border-radius: 18px;
  border: 2px solid rgb(0, 2, 105);
  min-height: 110px;
}

.imagePosition:hover {
  filter: invert(100%);
  cursor: pointer;
}

.imageAnalyse {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: "center";
  border-radius: 18px;
  border: 2px solid rgb(0, 2, 105);
  min-height: 110px;
}

.imageAnalyse:hover {
  filter: invert(100%);
  cursor: pointer;
}

.mmborder {
  /*margin-top: auto;*/
  /*margin-bottom: auto;*/
  margin-left: auto;
  margin-right: auto;
  text-align: "center";
  background-color: black;
  color: rgb(0, 2, 105);
  border-radius: 18px;
  border: 2px solid rgb(0, 2, 105);
}

.mmborder:hover {
  color: rgb(0, 2, 105);
  cursor: pointer;
  border: 2px solid rgb(0, 2, 105);
}

.lineV {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 2px;
  width: 100%;
  background-color: rgb(0, 2, 105);
}

.lineH {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 200%;
  width: 2px;
  background-color: rgb(0, 2, 105);
  opacity: 1;
}

.textnotizH {
  color: rgb(0, 2, 105);
  margin-left: 4px;
}

.textnotizH:hover {
  color: rgb(0, 2, 105);
  cursor: pointer;
}

.textnotizV {
  color: rgb(0, 2, 105);
  margin-left: -12px;
}

.textnotizV:hover {
  color: rgb(0, 2, 105);
  cursor: pointer;
}

.textbox {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
  text-align: center;
}

.textbox:hover {
  color: rgb(0, 2, 105);
  cursor: pointer;
  border: rgb(0, 2, 105);
}

.backgroundtransparent {
  background-color: grey;
}
