.slidein {
  position: absolute;
  left: -200px;
  width: 200px;
  height: 100%;

  top: 19vh;
  z-index: 10;
  /*border-top-right-radius: 20px;*/
  background-color: rgb(255, 255, 255);
  /*border-color: black;*/

  -webkit-animation: slidein 1s forwards;
  -webkit-animation-delay: 0s;
  animation: slidein 1s forwards;
  animation-delay: 0s;
}

@-webkit-keyframes slidein {
  100% {
    left: -5px;
  }
}

@keyframes slidein {
  100% {
    left: -5px;
  }
}

.slideout {
  position: absolute;
  left: -5px;
  width: 200px;
  height: 100%;
  top: 19vh;
  /*border-top-right-radius: 20px;*/
  background-color: rgb(255, 255, 255);
  /*border-color: black;*/

  -webkit-animation: slideout 1s forwards;
  -webkit-animation-delay: 0s;
  animation: slideout 1s forwards;
  animation-delay: 0s;
}

@-webkit-keyframes slideout {
  100% {
    left: -250px;
  }
}

@keyframes slideout {
  100% {
    left: -250px;
  }
}

.dropdownelement {
  /*-webkit-box-shadow: 12px 13px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 13px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 12px 13px 4px 0px rgba(0, 0, 0, 0.75);*/
  background-color: rgba(255, 255, 255);
  border-color: black;

  border-right: 0.02em solid rgb(0, 0, 0);
}

.dropdownelement:hover {
  background-color: rgba(255, 255, 255);
}

.first-dropdownelement {
  border-top-right-radius: 0.2em;
  border-top: 0.05em solid rgb(0, 0, 0);
  border-right: 0.05em solid rgb(0, 0, 0);

  background-color: rgba(255, 255, 255);
}

.last-dropdownelement {
  /*-webkit-box-shadow: 12px 13px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 13px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 12px 13px 4px 0px rgba(0, 0, 0, 0.75);*/
  border-bottom-right-radius: 0.2em;
  border-bottom: 0.05em solid rgb(0, 0, 0);
  border-right: 0.05em solid rgb(0, 0, 0);

  background-color: rgba(255, 255, 255);
}

.rotatebuttonlogo {
  -webkit-animation: rotate 4s both;
  -webkit-animation-delay: 0s;
  animation: rotate 4s both;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.rotatelefticondown {
  -webkit-animation: rotate 4s both;
  -webkit-animation-delay: 0s;
  animation: rotate90 1s both;
  animation-delay: 0s;
  animation-iteration-count: forward;
}

@keyframes rotate90 {
  100% {
    transform: rotate(90deg);
  }
}

.rotatelefticonright {
  -webkit-animation: rotate 4s both;
  -webkit-animation-delay: 0s;
  animation: rotateback90 1s both;
  animation-delay: 0s;
  animation-iteration-count: forward;
}

@keyframes rotateback90 {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.rotaterighticondown {
  -webkit-animation: rotate 4s both;
  -webkit-animation-delay: 0s;
  animation: rotate-90 1s both;
  animation-delay: 0s;
  animation-iteration-count: forward;
}

@keyframes rotate-90 {
  100% {
    transform: rotate(-90deg);
  }
}

.rotaterighticonleft {
  -webkit-animation: rotate 4s both;
  -webkit-animation-delay: 0s;
  animation: rotateback-90 1s both;
  animation-delay: 0s;
  animation-iteration-count: forward;
}

@keyframes rotateback-90 {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
