.slidein {
  position: fixed;
  left: -13em;
  width: 13em;
  height: 100vh;
  top: 8.95em;
  z-index: 3;

  background-color: rgb(255, 255, 255);
  border-color: black;

  -webkit-animation: slidein 1s forwards;
  -webkit-animation-delay: 0s;
  animation: slidein 1s forwards;
  animation-delay: 0s;

  border-right: 0.02em solid rgb(46, 45, 45);
}

@-webkit-keyframes slidein {
  100% {
    left: 0em;
  }
}

@keyframes slidein {
  100% {
    left: 0em;
  }
}

.slideout {
  position: fixed;
  left: 0em;
  width: 13em;
  height: 100vh;
  top: 8.95em;
  z-index: 3;

  background-color: rgb(255, 255, 255);
  border-color: black;

  -webkit-animation: slideout 1s forwards;
  -webkit-animation-delay: 0s;
  animation: slideout 1s forwards;
  animation-delay: 0s;

  border-right: 0.02em solid rgb(46, 45, 45);
}

@-webkit-keyframes slideout {
  100% {
    left: -13em;
  }
}

@keyframes slideout {
  100% {
    left: -13em;
  }
}

.navicon {
  margin-top: 2.5em;
  margin-left: -0.5em;
  z-index: 20;
  position: fixed;
}

.dropdownelement {
  background-color: rgba(255, 255, 255);
}

.dropdownelement:hover {
  background-color: rgba(255, 255, 255);
}

.first-dropdownelement {
  margin-top: 3vh;
  border-top-right-radius: 0.2em;
  background-color: rgba(255, 255, 255);
}

.last-dropdownelement {
  margin-top: 4vh;
  border-bottom-right-radius: 0.2em;
  background-color: rgba(255, 255, 255);
}

@media only screen and (max-width: 600px) {
  .slidein {
    position: fixed;
    left: -104vw;
    width: 104vw;
    height: 100vh;
    top: 4.4em;
    z-index: 3;

    background-color: rgb(255, 255, 255);
    border-color: black;

    -webkit-animation: slidein 1s forwards;
    -webkit-animation-delay: 0s;
    animation: slidein 1s forwards;
    animation-delay: 0s;

    border-right: 0.02em solid rgb(46, 45, 45);
    border-top: 0.02em solid rgb(46, 45, 45);
  }

  @-webkit-keyframes slidein {
    100% {
      left: 0em;
    }
  }

  @keyframes slidein {
    100% {
      left: 0em;
    }
  }

  .slideout {
    position: fixed;
    left: 0em;
    width: 104vw;
    height: 100vh;
    top: 4.4em;
    z-index: 3;

    background-color: rgb(255, 255, 255);
    border-color: black;

    -webkit-animation: slideout 1s forwards;
    -webkit-animation-delay: 0s;
    animation: slideout 1s forwards;
    animation-delay: 0s;

    border-right: 0.02em solid rgb(46, 45, 45);
    border-top: 0.02em solid rgb(46, 45, 45);
  }

  @-webkit-keyframes slideout {
    100% {
      left: -104vw;
    }
  }

  @keyframes slideout {
    100% {
      left: -104vw;
    }
  }
}
